:root {
  --accent-color: #d48e8c;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

header {
  position: absolute;
  top: 1vh;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.background {
  margin-top: 50px;
  background-image: url(../assets/img/portfolio1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .body {
    margin-top: 0vh;
  }
}
